# Ignore Eclipse project and build files
.project
.classpath
.metadata
bin/
.settings/

# Ignore IntelliJ project and build files
*.iml
.idea/

# Ignore VS Code files
.vscode

# Ignore diagrams.net-specific files
*.dn.svg.bkp

# Ignore generated documents and macOS Finder metadata
*.pdf
.DS_Store

# Ignore local Node.js dependencies and Antora build output
node_modules/
build/
